.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
drkg.tsv
__pycache__/
__pycache__/*
test-trainer/*
tmp_*
data/
data/*
fig/
*.txt
*.dict
log/*
*.csv
outputs/
*.sh
ADMET/
target/
nohup*
model_weights/
*test*
wandb/